html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #222 url("../images/baseline_brightness_1_black_18dp.png") repeat center;
}

#helloworld {
    color: #FF0;
    text-align: center;
    font-weight: lighter;
}
